In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
id = 'web'
pwd = '1234'
conn = MongoClient('mongodb://%s:%s@localhost/web' % (id, pwd))
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db = conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [4]:
students = db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [5]:
try:
    students.drop()
except:
    print('No Data')

In [6]:
row1 = {'no':1, 'name':'김철수', 'kor':90, 'eng':80, 'mat':77}
row2 = {'no':2, 'name':'박민성', 'kor':95, 'eng':83, 'mat':76}
row3 = {'no':3, 'name':'송지수', 'kor':92, 'eng':87, 'mat':75}

students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61971f9ac87726732d2f5100'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('61971f9ac87726732d2f5101'), 'no': 2, 'name': '박민성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('61971f9ac87726732d2f5102'), 'no': 3, 'name': '송지수', 'kor': 92, 'eng': 87, 'mat': 75}

In [7]:
students.delete_one({'no':2})

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61971f9ac87726732d2f5100'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('61971f9ac87726732d2f5102'), 'no': 3, 'name': '송지수', 'kor': 92, 'eng': 87, 'mat': 75}

In [8]:
students.update_one({'no':1}, {'$set':{'kor':100, 'eng':100}})

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61971f9ac87726732d2f5100'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77}
{'_id': ObjectId('61971f9ac87726732d2f5102'), 'no': 3, 'name': '송지수', 'kor': 92, 'eng': 87, 'mat': 75}

In [9]:
rows = students.find()
for row in rows:
    tot = row['kor']+row['eng']+row['mat']
    avg = tot/3
    if avg >= 90:
        grade='A'
    elif 80 <= avg < 90:
        grade='B'
    elif 70 <= avg < 80:
        grade='C'
    elif 60 <= avg < 70:
        grade='D'
    else:
        grade='F'
    students.update_one({'no':row['no']}, {'$set':{'tot':tot, 'avg':avg, 'grade':grade}}) # 'avg':f'{avg:.1f}'로 하면 소수점 한 자리만 나옴

rows = students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61971f9ac87726732d2f5100'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('61971f9ac87726732d2f5102'), 'no': 3, 'name': '송지수', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [14]:
rows = students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
    print('{}\t{}\t{}\t{}\t{}\t{}\t{:.2f}\t{}'.format(row['no'], row['name'], row['kor'], row['eng'], row['mat'], row['tot'], row['avg'], row['grade']))

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.33	A
3	송지수	92	87	75	254	84.67	B

In [15]:
print('조건 검색')
myrow=students.find({'no':3})
for field in myrow:
    print(field)

조건 검색
{'_id': ObjectId('61971f9ac87726732d2f5102'), 'no': 3, 'name': '송지수', 'kor': 92, 'eng': 87, 'mat': 75, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}