In [ ]:
import pandas as pd

df = pd.read_csv("/Users/ian/Desktop/Study/data/mart/gs25.csv")

In [ ]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()

engine = create_engine("mysql+mysqldb://web:1234@localhost/myweb", encoding='utf-8')

conn = engine.connect()

df.columns=['sido','tm','gender','age','category','amount','gu']
df.to_sql(name="gs25", con=engine, if_exists='replace', index=False)

In [ ]:
import pandas as pd

df = pd.read_csv('/Users/ian/Desktop/Study/data/mart/temperature.csv', encoding='ms949')

In [ ]:
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()

engine = create_engine("mysql+mysqldb://web:1234@localhost/myweb", encoding='utf-8')

conn = engine.connect()

df.columns=['tm','stn_id','pvn_nm','bor_nm','max_ta','max_ws','min_ta','avg_ta','avg_rhm','avg_ws','sum_rn']
df.to_sql(name="temperature", con=engine, if_exists='replace', index=False)

In [ ]:
# 이 뒤는 heidisql에서....ㅎㅎ